<h2>New Survey</h2>
  <form action = "/surveys" method="POST">
   <label for="title">Title:</label>
   <input class="form-control"  type = "text" name = "title" >
   <label for="Description">Category:</label>
   <input class="form-control"  type = "text" name = "category"><br>
   <input type = "submit" class="btn btn-primary">
  </form>