<h3><%= @survey.title %></h3>

<% @survey.questions.each do |question| %>
  <h4> <%=question.content %> </h4>
  <form action = "/" >
    <% question.answers.each do |answer| %>
      <input class = "single-checkbox" type="checkbox"   value = <% "#{answer.id}" %> > <%=answer.content%></br>
    <%end%>
  </form>
<%end%>
  <p>Things that I don't know</p>
  <input type="text" class="form-control" aria-label="...">



